.banner-container {
    position: relative;
  }
  
  .banner {
    width: 100%;
    height: auto;
  }
  
  .page-content {
    max-width: 700px;
    margin: 0 auto; 
  }

  .logo-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 10%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
  }
  
  .logo-banner:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  .recipe-tiles-container {
    display: flex;
    justify-content: space-between;
  }
  
  .left-tile,
    .right-tile{
      margin-bottom: 5px;
      margin-left: 5px;
      margin-right: 5px;
    }
  
  @media (max-width: 700px) {
    .left-tile,
    .right-tile {
      width: 30%;
    }

    .recipe-tiles-container{
      display: grid;
      align-items: center;
      justify-content: center;
    }
  }
  