  
  .recipe-tile {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    transition: box-shadow 0.3s ease;
  }
  
  .recipe-tile:hover {
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    border: dotted;
    background-color: rgb(255, 247, 247);
    border-width: 2px;
  }
  
  .recipe-tile h2 {
    margin-bottom: 8px;
  }
  
  .recipe-tile h3 {
    margin-top: 16px;
    margin-bottom: 8px;
  }
  
  .recipe-tile ul {
    list-style-type: none;
    padding: 0;
  }
  
  .recipe-tile li {
    margin-bottom: 4px;
  }
  
  .recipe-tile:active {
    transform: scale(0.98);
  }
  