/* RecipeList.css */
.recipe-list-container {
    max-width: 680px;
    margin: 0 auto;
    padding: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    border: 1px solid #ccc; /* Add this line for dotted borders */
    border-radius: 8px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

}
  
  .recipe-list-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center; /* Center the text */
  }
  
  .recipe-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .recipe-name {
    background-color: #d0d0d0;
    color: #fff;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    /* text-align: center; */
    color: #333; 
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .recipe-name:hover {
    background-color: #2980b9;
  }
  
  .app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ecf0f1;
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 3px;
  }

  .bar {
    width: 20px;
    height: 2px;
    background-color: #333;
    margin: 2px 0;
    transition: 0.4s;
    transform: translateY(8px);
  }

  .hamburger.open .bar:nth-child(1) {
    transform: translate(-3px, 8px);
  }

  .hamburger.open .bar:nth-child(2) {
    transform: translate(3px, 8px);
  }

  .hamburger.open .bar:nth-child(3) {
    transform: translate(-3px, 8px);
  }